<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[hold住]</key>
	<string>lxh_holdzhu.png</string>
	<key>[不好意思]</key>
	<string>lxh_buhaoyisi.png</string>
	<key>[不想上班]</key>
	<string>lxh_buxiangshangban.png</string>
	<key>[丘比特]</key>
	<string>lxh_qiubite.png</string>
	<key>[互相膜拜]</key>
	<string>lxh_xianghumobai.png</string>
	<key>[偷乐]</key>
	<string>lxh_toule.png</string>
	<key>[偷樂]</key>
	<string>lxh_toule.png</string>
	<key>[傑克遜]</key>
	<string>lxh_jiekexun.png</string>
	<key>[別煩我]</key>
	<string>lxh_biefanwo.png</string>
	<key>[别烦我]</key>
	<string>lxh_biefanwo.png</string>
	<key>[噢耶]</key>
	<string>lxh_oye.png</string>
	<key>[困死了]</key>
	<string>lxh_kunsile.png</string>
	<key>[好冏]</key>
	<string>lxh_haojiong.png</string>
	<key>[好喜欢]</key>
	<string>lxh_haoxihuan.png</string>
	<key>[好喜歡]</key>
	<string>lxh_haoxihuan.png</string>
	<key>[好囧]</key>
	<string>lxh_haojiong.png</string>
	<key>[好愛哦]</key>
	<string>lxh_haoaio.png</string>
	<key>[好棒]</key>
	<string>lxh_haobang.png</string>
	<key>[好爱哦]</key>
	<string>lxh_haoaio.png</string>
	<key>[崩溃]</key>
	<string>lxh_bengkui.png</string>
	<key>[崩潰]</key>
	<string>lxh_bengkui.png</string>
	<key>[巨汗]</key>
	<string>lxh_juhan.png</string>
	<key>[得意地笑]</key>
	<string>lxh_deyidexiao.png</string>
	<key>[悲催]</key>
	<string>lxh_beicui.png</string>
	<key>[想一想]</key>
	<string>lxh_xiangyixiang.png</string>
	<key>[抠鼻屎]</key>
	<string>lxh_koubishi.png</string>
	<key>[推荐]</key>
	<string>lxh_tuijian.png</string>
	<key>[推薦]</key>
	<string>lxh_tuijian.png</string>
	<key>[摳鼻屎]</key>
	<string>lxh_koubishi.png</string>
	<key>[有鴨梨]</key>
	<string>lxh_youyali.png</string>
	<key>[有鸭梨]</key>
	<string>lxh_youyali.png</string>
	<key>[杰克逊]</key>
	<string>lxh_jiekexun.png</string>
	<key>[求关注]</key>
	<string>lxh_qiuguanzhu.png</string>
	<key>[求關注]</key>
	<string>lxh_qiuguanzhu.png</string>
	<key>[泪流满面]</key>
	<string>lxh_leiliumanmian.png</string>
	<key>[淚流滿面]</key>
	<string>lxh_leiliumanmian.png</string>
	<key>[玫瑰]</key>
	<string>lxh_meigui.png</string>
	<key>[甩甩手]</key>
	<string>lxh_shuaishuaishou.png</string>
	<key>[瞧瞧]</key>
	<string>lxh_qiaoqiao.png</string>
	<key>[笑哈哈]</key>
	<string>lxh_xiaohaha.png</string>
	<key>[糾結]</key>
	<string>lxh_jiujie.png</string>
	<key>[給勁]</key>
	<string>lxh_geijin.png</string>
	<key>[纠结]</key>
	<string>lxh_jiujie.png</string>
	<key>[给劲]</key>
	<string>lxh_geijin.png</string>
	<key>[羞嗒嗒]</key>
	<string>lxh_xiudada.png</string>
	<key>[群体围观]</key>
	<string>lxh_quntiweiguan.png</string>
	<key>[群體圍觀]</key>
	<string>lxh_quntiweiguan.png</string>
	<key>[被电]</key>
	<string>lxh_beidian.png</string>
	<key>[被電]</key>
	<string>lxh_beidian.png</string>
	<key>[許願]</key>
	<string>lxh_xuyuan.png</string>
	<key>[许愿]</key>
	<string>lxh_xuyuan.png</string>
	<key>[贊啊]</key>
	<string>lxh_zana.png</string>
	<key>[赞啊]</key>
	<string>lxh_zana.png</string>
	<key>[躁狂症]</key>
	<string>lxh_zaokuangzheng.png</string>
	<key>[轉發]</key>
	<string>lxh_zhuanfa.png</string>
	<key>[转发]</key>
	<string>lxh_zhuanfa.png</string>
	<key>[雷鋒]</key>
	<string>lxh_leifeng.png</string>
	<key>[雷锋]</key>
	<string>lxh_leifeng.png</string>
	<key>[震惊]</key>
	<string>lxh_zhenjing.png</string>
	<key>[震驚]</key>
	<string>lxh_zhenjing.png</string>
	<key>[霹雳]</key>
	<string>lxh_pili.png</string>
	<key>[霹靂]</key>
	<string>lxh_pili.png</string>
</dict>
</plist>
